@font-face {
  font-family: "Merriweather";
  src: url('file:///android_asset/fonts/Merriweather.ttf');
}


body {
  font-family: "Merriweather";
}

h1 {
  font-size: 37px;
  font-weight: 900;
}

h2 {
  font-size: 23px;
  font-weight: 900;
}

p {
  line-height: 1.5em;
}

a {
  border-bottom: 1px solid #bfbfbf ;
  text-decoration: none;
}

img {
  display: none;
}
